.header {
  display: flex;
  justify-content: space-between;
  border: 1px solid black;
}

.logo {
  width: 100px;
}

.nav-items > ul {
  font-size: 24px;
  display: flex;
  list-style: none;
}

.nav-items > ul > li {
  padding: 10px;
  margin: 10px;
}

.res-card {
  padding: 5px;
  /* justify-items: center; */
  width: 190px;
  background: #f0f0f0;
  margin: 5px;
}

.res-card:hover {
  border: 1px solid black;
  cursor: pointer;
}

.search {
  padding: 10px;
}

.res-logo {
  width: 100%;
  height: 40%;
}

.logo {
  margin: 10px;
}

.res-container {
  display: flex;
  flex-wrap: wrap;
}

.filter-btn {
  margin: 10px;
  cursor: pointer;
}

.shimmer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.shimmer-card {
  width: 200px;
  height: 400px;
  background-color: #d0c8c8;
  margin: 20px;
  border-radius: 11px;
}

.login-btn {
  padding: 0 20px;
  cursor: pointer;
}

.filter {
  display: flex;
}

.res-link {
  text-decoration: none;
  color: black;
}
